.body_image{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(login.jpg);
    width:1500px;
    height:700px;
    border: 1px solid grey;
}
h1{
    text-align: center;
    font-size:50px;
    font-family: Roboto;
    color: white;
}

.form{
    text-align: center;
    font-size:20px;
    font-family: Roboto;
    padding:30px;
    color:white;
}
select{
    font-size:20px;
    font-family: Roboto;
    margin-left:50px;
}

input[type=text], input[type=password]{
    width:30%;
    padding:12px;
    margin-left:50px;
    border:1px solid black;
    box-sizing: border-box;
    font-family: roboto;
    
}

button{
    background-color: #026280;
    color: white;
    padding: 14px 20px;
    margin:8px 0px;
    border: none;
    width:10%;
    font-family:Roboto;
}
button:hover{
    cursor:pointer;
    opacity:0.7;
}
.cancel_button{
    float:right 10%;
    margin-left:10px;

}
.eye{
    margin-left: -30px; 
    cursor: pointer;
}